<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>biu社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
</head>
<body>
<div th:insert="~{navigation :: nav}"> </div>
    <div class="jumbotron">
        <h1>出错啦!!!</h1>
        <p th:text="${#messages}">服务器繁忙，稍等再试</p>
        <p><a class="btn btn-primary btn-lg" href="/" role="button">回到主页</a></p>
    </div>
</body>
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.slim.js"></script>
<script src="/js/bootstrap.min.js"></script>
</html>